.goods-list{
	margin-top: 50px;
	column-count: 3;
}

.goods-list .card .rating{
	text-align: right;

	& .rank-ok{
		color: $yellow;
	}

}
.goods-list .card .price-column{
	float: right;
    margin-top: 4px;
    font-size: 20px;
	& .curr-price{
		color: $red;
	}
	& .old-price{
		display: inline-block;
	    margin-left: 11px;
	    font-size: 17px;
	    color: red;
	    opacity: .5;
	}
}

.site-pagination{
	& .page-link{
		padding: 15px 20px;
		transition: all .2s ease-in-out;
	}
	& .page-item.active{
		& .page-link{
			background: $primary-light;
			color: $primary;
			font-weight: bold;
			border-color: $primary-light;
		}
	}

	&.site-pagination-sm{
		& .page-link{
			padding: 0.5rem 0.75rem;
		}
	}
}
// .goods-list .card{
// 	display: block;
// }

