.goods-list{
	margin-top: 50px;
	column-count: 3;
}

.goods-list .card .rating{
	text-align: right;
}
.goods-list .card .price-column{
	float: right;
}

.site-pagination{
	& .page-link{
		padding: 15px 20px;
		transition: all .2s ease-in-out;
	}
	& .page-item.active{
		& .page-link{
			background: $primary-light;
			color: $primary;
			font-weight: bold;
			border-color: $primary-light;
		}
	}

	&.site-pagination-sm{
		& .page-link{
			padding: 0.5rem 0.75rem;
		}
	}
}

.top-sidebar .btn-toolbar{
	& .a-with-span{
		line-height: 35px;
		max-height: 45px;
	}
}

@include media-breakpoint-only(md){
	.top-sidebar .btn-group{
		& button{
			margin-bottom: 20px;
			padding: 12px;
		}
	}
	.goods-list{
		column-count: 2;
	}
}

@include media-breakpoint-down(sm){
	.top-sidebar{
		flex-wrap: wrap;
		& .best-sellers-btn-group{
			margin-left: auto;
			margin-right: 0px !important;
		}
		& form{
			width: 100%;
			margin-top: 20px;
		}
	}
	.goods-list{
		column-count: 1;
	}

}

@include media-breakpoint-down(xs){
	.top-sidebar .btn-toolbar{
		& button, & .a-with-span{
			& .button-text{
				display: none;
			}
			&:after{
				content: attr(data-label);
			}
		}
	}

	.site-pagination .page-link{
		padding: 12px;
	}
}