.catalog-banner{
	background: url(/img/777597.jpg) top no-repeat;
    background-size: cover;
}

.catalog-title-wrapper{
	padding: 10px 15px;
   	display: inline-block;
   	float: left;
   	clear: both;
	& *{
		color: $white;
		margin: 0px;
	}
	&.success{
		background: #007bff7a;
	}
	&.white{
		background: $body-bg;
		& *{
			color: $gray-800;
		}
	}
}

@include media-breakpoint-up(xl){
	.catalog-banner{
		height: 595px;
	}
}

@media(max-width: 1400px){
	.catalog-banner{
		height: 500px;
	}
}

@include media-breakpoint-down(md){
	.catalog-banner{
		& .catalog-title-wrapper{
			& h1{
				font-size: 1.8rem;
			}
			& h5{
				font-size: 1rem;
			}
		}
	}
}

@include media-breakpoint-down(sm){
	.catalog-banner{
		height: 255px;
		& .catalog-title-wrapper{
			& h1{
				font-size: 1.4rem;
			}
			& h5, & h6{
				font-size: .7rem;
			}
		}
	}
}

@include media-breakpoint-down(xs){
	.catalog-banner{
		& .container{
			max-width: none;
		}
		& .catalog-title-wrapper h1{
			font-size: 1rem;
		}
		& .not-displaying-title{
			display: none;
		}
	}
}