form{
	& .has-errors{
		& input{
			border-color: $danger;
		}
		& .invalid-feedback{
			display: block;
		}
	}
}

.btn-sale{
	transition: all .2s ease-in-out;
	display: inline-block;
	color: $white;
	padding: 10px 15px;
    line-height: 15px;
    &:hover{
    	text-decoration: none;
    	color: $body-bg;
    }
    & .desc{
    	display: block;
    	margin-top: 5px;
    }
	& .desc{
		font-size: 12px;
	}
	&.mute{
		background: $gray-700;
	}
	&.success{
		background: $success;

		& .sale-icon{
			color: $yellow;
		}
	}
	& .sale-icon{
		font-size: 25px;
    	text-align: center;
    	margin-top: 3px;
	}
}

.rating{
	& .rank-ok{
		color: $yellow;
	}
}

.price-column{
    margin-top: 4px;
    font-size: 20px;
	& .curr-price{
		color: $red;
	}
	& .old-price{
		display: inline-block;
	    margin-left: 11px;
	    font-size: 17px;
	    color: red;
	    opacity: .5;
	}
}

.popover.alert-danger{
	& .arrow{
		&:after{
			border-top-color: #f8d7da;
		}
	}
}

@include media-breakpoint-up(md){
	.btn-sale{
		&.mute{
			&:hover{
				background: $gray-800;
			}
		}
		&.success{
			&:hover{
				background: #22d44a;
				color: $yellow;
				text-shadow: 1px 1px 2px $black, 0 0 1em yellow;
	    		box-shadow: 0px 0px 54px yellow;
			}
		}
	}
}

.btn-primary-light{
    color: $white;
    &:hover{
    	color: $white;
    }
}

@include media-breakpoint-down(sm){
	.sm-none{
		display: none;
	}
}